<!-- views/planets/landing.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Planets Landing</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Planets Landing</h1>
    <p>Select a category:</p>
    <ul>
      <li><a href="/planets/gas">Gas Giants</a></li>
      <li><a href="/planets/rocky">Rocky Planets</a></li>
    </ul>
  </body>
</html>
