<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planets</title>
  </head>
  <body>
    <h1>Get ready to explore all of our planets</h1>
<div>
    <p>Check out the <a href="/planets/gas"><strong>Gas Giants</strong></a> that currently rotate all around us.</p>
</div>
<div> <p>Take a walk on the  <a href="/planets/rocky"><strong>Rocky Worlds</strong></a> that share our space with us.</p>
</div>   
  </body>
</html>