<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rocky Planets</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Rocky Planets</h1>
    <ul>
      <% planets.forEach(planet => { %>
        <li>
          <a href="/planets/rocky/<%= planet._id %>">
            <strong><%= planet.name %></strong>
          </a>: <%= planet.description %>
        </li>
      <% }) %>
    </ul>
    <a href="/planets">Back to Landing</a>
  </body>
</html>
