<!-- views/planets/new.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Planet</title>
  </head>
  <body>
    <h1>Create a New Planet!</h1>
    <form action="/planets" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />

      <label for="description">Description:</label>
      <textarea name="description" id="description" required></textarea>

      <label for="class">Class:</label>
      <input type="text" name="class" id="class" required />

      <button type="submit">Add Planet</button>
    </form>
    <a href="/planets">Back to view all planets</a>
  </body>
</html>
